.spacer {
  flex: 1 1 auto;
}

mat-toolbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 20px;
}

.content {
  padding: 0;
}

.avatar-icon {
  width: 28px;
  height: 28px;
  border-radius: 50%;
  display: block;
}
