<mat-toolbar color="primary">
  <mat-toolbar-row>
  <span>{{ title }} {{version}}</span>
  </mat-toolbar-row>
</mat-toolbar>


<mat-card class="login-card">
    <mat-card-content>
<form [formGroup]="loginForm" (ngSubmit)="onSubmit()" style="display: flex; flex-direction: column; align-items: center;">
  <img src="assets/images/hevelius.jpg" title="Johannes Hevelius" alt="Hevelius portrait"/>
    <mat-form-field appearance="outline" style="width: 240px;">
        <mat-label>Your username</mat-label>
        <input matInput formControlName="username">
    </mat-form-field>

    <mat-form-field appearance="outline" style="width: 240px;">
        <mat-label>Your password</mat-label>
        <input matInput [type]="hide ? 'password' : 'text'" formControlName="password">
        <button mat-icon-button matSuffix (click)="hide = !hide" [attr.aria-label]="'Hide password'" [attr.aria-pressed]="hide">
            <mat-icon>{{hide ? 'visibility_off' : 'visibility'}}</mat-icon>
        </button>
    </mat-form-field>

    <div class="login-actions">
        <button mat-raised-button color="primary" type="submit">
            Login
        </button>
        <button mat-stroked-button type="button" (click)="goToForgotPassword()">
            Forgot password?
        </button>
    </div>
</form>
    </mat-card-content>
</mat-card>

<div style="position: fixed; bottom: 8px; width: 100%; text-align: center; color: #666; font-size: 0.8em;">
    Frontend <a href="https://github.com/borowka-obs/hevelius-web/blob/master/CHANGELOG.md">{{version}}</a> |
    Backend <a href="https://github.com/borowka-obs/hevelius-backend/blob/master/CHANGELOG.md">{{backendVersion}}</a>
</div>
